#
# Copyright (c) 2020,2021 Oracle and/or its affiliates.
#
# Licensed under the Universal Permissive License v 1.0 as shown at
# https://oss.oracle.com/licenses/upl.
#
apiVersion: coherence.oracle.com/v1
kind: Coherence
metadata:
  name: users
spec:
  cluster: SockShop
  role: Users
  replicas: 1
  image: ghcr.io/oracle/coherence-helidon-sockshop-users:1.2.0
  env:
    - name: TRACING_HOST
      value: "jaeger-collector"
    - name: JAEGER_SAMPLER_TYPE
      value: "const"
    - name: JAEGER_SAMPLER_PARAM
      value: "1"
  application:
    type: helidon
  jvm:
    memory:
      heapSize: 2g
  coherence:
    metrics:
      enabled: true
  ports:
    - name: http
      port: 7001
      service:
        name: user  # for compatibility with the existing front-end implementation
        port: 80
      serviceMonitor:
        enabled: true
    - name: metrics
      serviceMonitor:
        enabled: true
